<h1><%= @user.name %></h1>

<%= link_to "User's Conversations", user_conversations_path(@user) %><br />
<%= link_to "Create a New Conversation", new_user_conversation_path(@user) %>

<hr>

<%= link_to "Back to All Users", users_path %><br />

<hr>

<%= link_to "Edit", edit_user_path(@user) %><br />
<%= link_to "Sign In as This User", signin_user_path(@user), :method => :post %>